.table-assets {
    height: 100%;
}
.main-content {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    padding: 12px;
    width: calc(100% - 255px);
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    overflow: auto;
}

/* width */
.main-content::-webkit-scrollbar {
    width: 6px;
}

  /* Track */
.main-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

  /* Handle */
.main-content::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px; 
}

  /* Handle on hover */
.main-content::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
.page-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(100% - 80px);
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.page-main-title {
    font-size: 22px;
    color: #252733;
    margin: 32px 42px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}
.table-assets-title {
    width: 100%;
    display: flex;
    padding: 6px 32px;
    padding-bottom: 24px;
    border-bottom: solid 1px #dfe0eb;
}
.table-assets-title p {
    font-size: 16px;
    color: #9fa2b4;
}
.close-collapse {
    transform: translate(-98px);
    transition: all 0.2s ease;
}
.open-collapse {
    transform: translate(0);
    transition: all 0.2s ease;
}
.pagination {
    width: 100%;
    height: 60px;
    padding-bottom: 32px;
    display: flex;
    justify-content: flex-end;
}
.pagination-content {
    width: 400px;
    height: 100%;
    gap: 60px;
}
.pagination-btn {
    display: flex;
    width: 100px;
    gap: 18px;
}

.pagination-btn p {
    cursor: pointer;
}

.active-page {
    background: #008cde;
    padding: 5px 8px;
    color: #fff;
    border-radius: 3px;
}

.empty-icn {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 12px;
}
.empty-err-mess {
    font-size: 32px;
    font-weight: 500;
    color: #9fa2b4;
}
.action-container {
    position: relative;
    width: 100%;
    padding: 0 42px;
    display: flex;
    gap: 8px;
}
.search {
    height: 100%;
    width: 200px;
    position: relative;
}
.inp-search {
    height: 100%;
    width: 100%;
    padding: 6px 12px;
    padding-right: 32px;
    border: solid .5px #dfe0eb;
    border-radius: 6px;
    cursor: pointer;
}
input[type='date'] {
    padding-right: 12px;
}
.inp-search:focus {
    outline-width: 0;
}
.icn-search {
    position: absolute;
    top: 11px;
    right: 15px;
}

.btn-container {
    position: absolute;
    right: 32px;
    display: flex;
    gap: 12px;
}

.create-btn {
    height: 100%;
    padding: 8px 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    background: #008cde;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
}
.create-btn:hover {
    opacity: .8;
}

.date-search {
    width: 140px;
}
.multiselect {
    width: 235px;
}